
@use './reset.scss';
@use './mediaQuery.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lusitana:wght@400;700&family=Noto+Sans+JP:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Zen+Maru+Gothic&family=Zen+Old+Mincho&display=swap');

html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  
  word-break: break-all;
  font-size: 62.5%;
}


body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;

  color: #505050;
  
}


/* PC、SPの非表示 */

// 画面幅が 767px以下（PC） のときだけ非表示
.pc {
   @include sp{
     display: none !important;
   }
 }
// // 画面幅が 768px以上（PC） のときだけ非表示
 .sp {
    @include pc{
     display: none !important;
   }
 }

img {
  max-width: 100%;
  height: auto;
}

#container {
  width: 100%;
  overflow: hidden;
}

.inner {
  max-width: 940px;
  margin: 0 auto;
  padding-inline: 30px;
  @include sp{
    padding-inline: 20px;
  }
}

.section-title{    
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    display: block;
    width: fit-content;
    padding: 0 1.9em;
    margin: 0 auto;
     &::before,
     &::after {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        width: 25.5px;
        height: 25px;
        background: url('../images/section-title.png') no-repeat;
        background-size: contain;
        z-index: 1;
    }
       
      &::before {
         left: 0;
        
         }
       &::after {
         right: 0;
         }  
    
}


/*=======
header
=======*/
.header{
    width: 100%;
    height:50px ;   
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 55px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    @media screen and (max-width:900px){
        padding-left: 70px;
        padding-right: 25px;
    }
    @media screen and (max-width:500px){
        padding-left: 20px;
    }

}
.header__logo{
    display: flex;
    &:hover {
                opacity: 0.4;}    
    
}
.logo-img{
    width: 25.5px;
}
h1{
    padding-inline: 9.5px; 
    font-size: 1.8rem;    
    font-weight: 700;
    line-height: calc(33/18);
    
    @include sp{
        font-size: 2rem;
        line-height: calc(33/20);
    }
    
}


.header__list{
    display: flex;
    font-size: 1.4rem;
     line-height: calc(33/14);
    font-weight: 700;
    li{
        a{
            height: 50px;
            padding:15px 5px;
             &:hover {
                opacity: 0.4;
        }        
    }      
}}
.span-br{
    display: inline-block; 
    
}

/*=======
fv
=======*/
#fv{
    position: relative;
}
.fv__bg{
    margin-top: 50px;    
    width: 100%;
    height: auto; 
    overflow: hidden
}
.fv__contents{
    background-color: rgba(255, 255, 255,0.7);
    width: calc(492 / 1080 * 100vw);
    height: calc(210 / 1080 * 100vw);  
    position: absolute;   
    left: 0;
    top: calc(152 / 1080 * 100vw);    
    padding-left: calc(99/1080*100vw);
    padding-top: calc(22/1080*100vw);
    z-index: 99;
     
    // @media screen and (max-width: 900px) {
    //  max-width: 422px;
    //  width: 100%;
    //    height: calc(422/492);
    //    top: 21%;
    //  }
  
    // @include sp{
       
    //     width: 90%;
    //     max-width: 330px;
    //     height: 141px;//330/492=
    //     padding: 16px;
    //     text-align: left;
    //    top:43%;       
   
    //  }
    //  @media screen and (max-width: 500px) {
    //    max-width: 311px;
    //      width: 100%;
    //    height: 148px;
    //    top:45%
    //  }
    //  @media screen and (max-width: 374px){
    //      top:38%
    //  }

    // @media screen and (max-width: 900px) {
    //   width: 422px;
    //   top: 30%;
    // }

     @include sp {
      
       left: 0;
       bottom: 5px;
       top:auto;
        padding-left: calc(20/375*100vw);
        padding-top: calc(18/375*100vw);
        width: calc(311/375*100vw);
        height: calc(148/375*100vw);
         z-index: 99;
        
        
    }

    
  }
    
    

.fv-text{
    font-size:calc(25/1080*100vw) ;
    font-weight: 700;
    @include sp{
        font-size: calc(20/375*100vw);       
        padding-left: 3px;
    }
   
}
.fv-title{
    font-size: calc(40/1080*100vw);
    font-weight: 700;
    line-height: calc(60/40);
    color: #0D96A0;
    margin-top: 8px;
    
    @include sp{
        font-size: calc(30/375*100vw);
        line-height: calc(40/30);
       margin-top: 9px;
    }
    
}

/*=======
greeting
=======*/
.greeting__bg{
    padding-top: 57px;
    padding-bottom: 60px;
    position: relative;
    @include sp{
        padding-top: 45px;
        padding-bottom: 39px;
    }
}

.greeting-title{
      text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: calc(50/30);
    color: #0D96A0;
    @include sp{
        font-size: 2.5rem;
        line-height: calc(35/25);
    }
}
.greeting-text{
      text-align: center;
    margin-top: 15px;
    font-size: 1.8rem;
    line-height: calc(33/18);
    @include sp{
        text-align: left;
        font-size: 1.6rem;
    line-height: calc(30/16);
    }
}
.greeting-img{
    width: 83.75px;
    height: auto;
    position: absolute;
    right: 10px;
    bottom: 0;
    z-index: -1;
    padding-bottom: 30px;
    display: block;
    @include sp{
        width:68.35px ;
        height: auto;
        right: 28px;
        bottom: 13px;
    }
   
}
/*=======
strengths
=======*/
#strengths{
    background-color: rgba(13, 150, 160,0.1);
}
.strengths__bg{
    padding-top: 60px;
    padding-bottom: 38px;
    
    
    @include sp{
       
        padding-top: 53px;
         padding-bottom: 20px;
    }
}
.strengths__container{
    margin-top: 25px;
    @include sp{
        margin-top: 12px;
    }
}
.strengths__box{
    display: flex;
    padding-top: 23px;
    padding-bottom: 23px;
    
   @include sp{
    padding-top: 28px;
    padding-bottom: 15px;
    flex-direction: column-reverse; 
   }
}
.reverse{
    flex-direction: row-reverse;
    @include sp{
    flex-direction:column-reverse; 
   }
    .strengths__body{
        padding-top: 45px;
        padding-left:44px ;
       flex: 1;
       @media screen and (max-width:900px){
        padding-top: 25px;
        padding-left:35px ;
    }
    @include sp{
        padding-top: 20px;
        padding-left: 0;
    }
    }
}
.normal{
    .strengths__body{
    padding-top: 45px;
    padding-right:44px ;
    flex: 1;
   @media screen and (max-width:900px){
    padding-top: 25px;
    padding-right:35px ;
   }
   @include sp{
    padding-top: 20px;
   
    padding-right:0 ;
   }
}
}


.strengths-img{
    display: block;
    width: calc(440 / 880 * 100%);
    
     flex-shrink: 0;
     align-items:flex-start ;
    @include sp{
        width: 100%;

    }
    
}
.strengths__body-title{
    font-size:2.2rem ;
    font-weight: 700;
    line-height: calc(33/22);
    @include sp{
        text-align: center;
        font-size: 2rem;
         line-height: calc(33/20);
    }
}
.strengths__body-text{
    margin-top:20px ;
    font-size: 1.8rem;    
    line-height: calc(33/18);
    @include sp{
     margin-top:5px ;
     font-size: 1.6rem; 
     line-height: calc(30/16);  
    }
}

/*=======
service
=======*/
.service__bg{
    padding-top: 67px;
    padding-bottom: 60px;
   
    @include sp{
    padding-top: 45px;
    padding-bottom: 38px;
    padding-inline: 20px;
    }
}
.service__container{
    margin-top: 46px;
    display: flex;
    justify-content: space-between;    
    width: 100%;
    column-gap: calc(50 / 880 * 100%);
    @include sp{
        flex-direction: column; 
        column-gap: calc(30 / 375 * 100%);
         margin-top: 4px;
    }
}

.service__card{    
    text-align: center;
    display: block;
    width: calc(260/880*100%);
    @include sp{
        width:100%;
        margin-top: 39px;
    }
}
.service-img{
    img {
  display: block;
  width: 100%;
  height: auto;
}}
.service-body{
    margin-top:19px ;
    @include sp{
    margin-top:30px ;
}
}
.service__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(25/20);
    @include sp{
        line-height: calc(30/20);
    }

}
.service__text{
    font-size:1.7rem ;
    line-height: calc(30/17);
    margin-top: 8px;
    text-align: left;
@include sp{
    font-size:1.6rem ;
    line-height: calc(30/16);
    text-align: left;
}
}
/*=======
news
=======*/
#news{
     background-color: rgba(13, 150, 160,0.1);
}
.news__bg{
    padding-top: 63px;
    padding-bottom: 65px;
    
    @include sp{
    padding-top: 42px;
    padding-bottom: 26px;
    padding-inline: 20px;
    }
}
.news__container{
    margin-top: 46px;
}
.news-list{
  list-style: none outside;
  margin: 0;
  padding: 0;
}
.news-item {
   
    a{
     display: flex;   
    flex-wrap: nowrap;
    text-decoration: none;   
    border-bottom: 1px solid #707070;
    padding: 15px;
    transition: opacity 0.3s ease;
    &:hover {
            opacity: 0.6;
        }
        @include sp{
        flex-direction: column;
        padding: 27px 8px;
        
    }
    }
    &:first-child{
        a{
        border-top: 1px solid #707070;
        }
    } 
    
}
.news-date{    
  margin: 0;
  min-width: 95px;
  font-size: 17px;
  font-weight: 700;
  line-height: calc(25/17);
  
    }
.news-category{
  margin: 0;
  min-width: 235px;
  padding-inline: 25px 45px;
  
  span{
    display: inline-block;
    text-align: center;
    color: #0D96A0;
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(25/20);
  }
  @include sp{
    padding-inline:0;
    margin-top: 2px;
  }
}
.news-text{
  margin: 0;
  width: 100%;
  font-size: 1.7rem;
  line-height: calc(30/17);
  @include sp{
    margin-top: 6px;
    font-size: 1.6rem;
  line-height: calc(24/16);
  }
}


/*=======
access
=======*/
.access__bg{
    padding-top: 60px;
    padding-bottom: 68px;
    
    @include sp{
    padding-top: 43px;
    padding-bottom: 50px;
    padding-inline: 20px;
    }
}
.access__container{
    display: flex;
    justify-content: space-between;    
    width: 100%;
    column-gap: calc(50 / 880 * 100%);
    margin-top:49px ;
    @include sp{
        flex-direction: column;         
         margin-top: 46px;
    }
}

.access__map{
    width: calc(440 / 880 * 100%);
    @include sp{
        width: 100%;

    }
    // img{
    // height: 100%;
    // object-fit: cover;
    // }
}
.access__contents{
    flex: 1;
    @include sp{
        margin-top: 28px;
    }
}
.access__contents-name{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33/22);
}
.access__contents-add{
    font-size: 1.8rem;
    line-height: calc(27/18);
    margin-top: 14px;
    @include sp{
        font-size: 1.6rem;
        line-height: calc(24/16);
        margin-top: 12px;
    }
}
.access__contents-tel{
    font-size: 1.8rem;
    line-height: calc(27/18);
    margin-top: 14px;
    span{
        font-size: 2.5rem;
        line-height: calc(40/25);
        color: #0D96A0;
        
    }
    @include sp{
        font-size: 1.6rem;
        line-height: calc(27/16);
        margin-top: 6px;
    }
}
.access__contents-mail{
     font-size: 1.8rem;
    line-height: calc(27/18);
    margin-top: 8px;
    @include sp{
        font-size: 1.6rem;
        line-height: calc(24/16);
        margin-top: 7px;
    }
}
.access__contents-date{
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-top: 27px;
    @include sp{        
        margin-top: 14px;
        padding-top: 10px;
    }
}
.access__contents-time{
    font-size: 1.8rem;
    line-height: calc(40/18);
    padding-top: 15px;
    @include sp{
        font-size: 1.6rem;
        line-height: calc(30/16);
       padding-top: 2px;
    }
    
}
.access__contents-day{
    font-size: 1.8rem;
    line-height: calc(40/18);
    padding-top: 5x;
    padding-bottom: 12px;
    @include sp{
        font-size: 1.6rem;
        line-height: calc(30/16);
       padding-top: 2px;
    }
}

/*=======
contact
=======*/
#contact{
 background-color: rgba(13, 150, 160,0.1);
}
.contact__bg{
    padding-top: 60px;
    padding-bottom: 78px;
  
    @include sp{
    padding-top: 40px;
    padding-bottom: 46px;
    padding-inline: 20px;
    }
}
.contact-text{
    text-align: center;
    margin-top: 25px;
    font-size: 1.7rem;
    line-height: calc(30/17);
    @include sp{
        text-align: left;
        margin-top: 43px;
        font-size: 1.6rem;
    line-height: calc(30/16);
    }
}
.form {
  margin-inline: auto;
  margin-top: 39px;
  @include sp{
    margin-top: 34px;
  }
}
.form__item {
  display: flex;
  column-gap: 30px;
  @include sp{
        flex-direction: column;         
        
  }
}
.form__item:not(:first-of-type) {
  margin-top: 30px;
  @include sp{
    margin-top: 18px;
  }
}
.form__label {
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(33/20);
  width: 140px;
  @include sp{
    font-size: 1.8rem;
    line-height: calc(33/18);
  }
}
.form__input {
  flex: 1;
  background-color: #fff;
  @include sp{
    margin-top: 2px;
  }
}
.form__textarea {
  flex: 1;
  line-height: 0;
  background-color: #fff;
   @include sp{
    margin-top: 2px;
  }
  
}
input[type="text"],
input[type="email"] {  
  height: 40px;
  width: 100%;
  padding-inline: 15px;
  font-size: 1.6rem;
  @include sp{
    height: 50px;
  }
}
textarea {
  height: 300px;
  width: 100%;
  resize: none;
  padding: 15px;
  font-size: 1.6rem;
  line-height: calc(33/16);
}

.contact__button {
  margin-top: 47px;
  margin-inline: auto;
  width: 200px;
  @include sp{
    max-width: 335px;
    width: 100%;
  }
 }
input[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: #0D96A0;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: calc(33/25);
  cursor: pointer;
  transition: 0.4s;  
  text-align: center;
  border-radius:10%;
  &:hover {
  color:#0D96A0;
  background-color: #fff;
  border: 1px solid #0D96A0;
}
@include sp{
    height: 45px;
    font-size: 2rem;
    line-height: calc(26/20);
}
}

/*=======
footer
=======*/
.footer{
    background-color: #505050;
    text-align: center;
}
.footer__bg{
     padding-top: 66px;
    padding-bottom: 73px;
    @include sp{
    padding-top: 46px;
    padding-bottom: 50px;
    
    }
}
.footer__container{
    margin-inline: auto;
}

.footer__nav{
   max-width: 737px;
   width: 100%;
    margin: 0 auto; 
    border-bottom: 1px solid #fff;
    
}
.footer__lists{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
     
    padding-bottom: 21px; 
      
   @include sp{
    flex-wrap: wrap;
    column-gap: 20px;
   }
}
.footer-nav__list {
  list-style: none;   
    
}
.footer-nav__link{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(33/20);
    padding:5px 7px;
    &:hover {
                opacity: 0.4;}  
    @include sp{
        font-size: 1.8rem;
        line-height: calc(33/18);
    }
}

.footer__copyright{
    color: #fff;
    font-size: 2rem;    
    line-height: calc(33/20);
    margin-top: 27px;
    @include sp{
        font-size: 1.6rem;    
        line-height: calc(33/16);
        margin-top: 14px; 
    }
    @media screen and (max-width:374px){
        font-size: 1.4rem;    
        
    }
}
.footer__sns{    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    margin-top: 9px;
       
    @include sp{
         margin-top: 28px;
    }
}
.sns__link{
    padding:5px 7px;
}
